# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# [[ $machineType := promptString "What is the machine type? [personal/work/server]" "personal" ]]

encryption: age

age:
  identity: ~/.age/chezmoi.txt
  recipients:
    - age1vnhe3sm45vmctsz0ngknenxn2jw8q92fp7auqxpmac6jj4csgd5qq8szq4  # lovelace
    - age1jw9ld492gylvdz35t43k9r30dalythd8q9uzqrqnx6a30hat8ptqmgm5rj  # yuno

data:
  machine:
    type: # [[ $machineType | quote ]]
  # [[ if eq .chezmoi.os "darwin" -]]
  homebrew:
    # [[ if eq .chezmoi.arch "arm64" -]]
    prefix: "/opt/homebrew"
    # [[- else -]]
    prefix: "/usr/local"
    # [[- end -]]
  # [[ else ]]
  homebrew: false
  # [[- end ]]
